.export-buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}

.user-list-container {
    padding: 35px 25px;
}

.user-details-row {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}

.page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}